#auth>#camposNovo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#auth>#camposNovo>* {
    margin: 10px;
}

#auth>#camposNovo>#loginBtn {
    font-size: 20px;
}