/* HEADER */
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px 20px 10px;
}

#header>button {
    margin: 10px 5px 0px 0px;
    width: 110px;
    font-size: 20px;
}

/* OUTPUT */
#output {
    overflow: auto;
    flex: 1;
    white-space: break-spaces;
}