:root {
    --mainBg: black;
    --modalBG: #000000cc;
    --roxo1: #360068;
    --roxo2: #5a00ad;
    --preto1: #242424;
    --preto2: #1a1a1a;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

html, body {
    margin: 0px;
    height: 100vh;
    background-color: var(--mainBg);
}

button {
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    background-color: var(--roxo2);
    color: white;
    cursor: pointer;
}

input, select {
    background-color: var(--roxo1);
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 8px;
}

.loader {
    border: 16px solid var(--roxo2);
    border-radius: 50%;
    border-top: 16px solid var(--roxo1);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    position: absolute;
    background: var(--modalBG);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
    display: flex;
    background-color: var(--mainBg);
    color: white;
    flex-direction: column;
    overflow: auto;
}

.secao {
    padding: 20px 10px;
}

.secao:nth-child(even) {
    background-color: var(--preto1);
}

.secao:nth-child(odd) {
    background-color: var(--preto2);
}

.secao>h2 {
    text-align: center;
    margin-bottom: 10px;
}

.lista {
    display: grid;
    background-color: var(--preto2);
    align-items: center;
    justify-items: center;
    grid-auto-rows: 35px;
    border-radius: 8px;
}

.lista>p.nome {
    justify-self: left;
    margin-left: 10px;
}

.lista>img {
    width: 25px;
    cursor: pointer;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px 20px 10px;
}

#header>button {
    margin: 10px 5px 0px 0px;
    width: 110px;
    font-size: 20px;
}