#mercados {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mercados>#camposNovo {
    margin-bottom: 10px;
}

#mercados>.lista {
    grid-template-columns: 1fr 40px;
}

#mercados>.lista>p.nome {
    justify-self: left;
}

#mercados>.lista>img {
    width: 25px;
}